<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">திட்டம் மதுரை</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" href="#">முகப்பு</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#">புத்தகங்கள்</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#">ஆசிரியர்கள்</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#">தொண்டர்கள் </a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="#">எங்களைப்பற்றி</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              தொடர்புகொள்ள 
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">பயன்பாடு பற்றி</a></li>
              <li><a class="dropdown-item" href="#">செய்திகள்</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">மேலும் ..</a></li>
            </ul>
          </li>

        </ul>
        <form class="d-flex input-group">
          <input class="form-control me-2" type="search" placeholder="தேடல் உள்ளடக்கம்" aria-label="Search">
          <button class="btn" type="submit"><i class="fas fa-search fs-4"></i></button>
        </form>
      </div>
    </div>
  </nav>