<header class="header">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-light navbar-expand-md fixed-top position-relative border-bottom">
    <div class="container-fluid">

      <a class="navbar-brand fw-bolder" href="/">
        <img src="{{ "images/logo.svg" | relURL }}" alt="main img" width="54px" class="header-logo">
        <span>{{ .Site.Title }}</span></a>
           
        <button class="navbar-toggler border-0 btn-outline-0"disabled type="link" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="fas fa-search fs-5"></i></span>
        </button>


       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {{ if not .IsHome }}

        <form class="d-flex">
          {{if eq .Type "books"}}
          <input class="form-control me-2 search-nav-box" type="search" placeholder="தேடுக" aria-label="Search">
          <button type="button" class="btn-close p-2 bg-danger" aria-label="Close"></button>
          {{else}}
          
          {{end}}
        </form>
        {{ end }}

        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <a class="btn search-nav" href="/books">
            <i class="fas fa-search"></i>
          </a>
          <li class="nav-item">
            <a class="nav-link {{if eq .Type "books"}}active{{end}} fw-bold" href="{{ "/books" | relURL
              }}">புத்தகங்கள்</a>
          </li>
     
          <li class="nav-item">
            <a class="nav-link {{if eq .Type "writers"}}active{{end}} fw-bold" href="{{ "/writers" | relURL
              }}">ஆசிரியர்கள்</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{if eq .Type "volunteers"}}active{{end}} fw-bold" href="{{ "/volunteers/volunters-page" | relURL
              }}">தன்னார்வலர்கள்</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{if eq .Type "mission"}}active{{end}} fw-bold" href="{{ "/mission" | relURL
              }}">நோக்கம்</a>
          </li>

        </ul>

        


      </div>
    </div>
  </nav>
  <img src="{{ "images/Vector.svg" | relURL }}" alt="main img"
    class="position-absolute top-3 start-50 translate-middle">
</header>