<header class="header">
  <!-- Fixed navbar -->
  <nav class="navbar navbar-light navbar-expand-md fixed-top border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">திட்டம் மதுரை</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" href="#">முகப்பு</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{{ "/books" | relURL }}">புத்தகங்கள்</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{{ "/writers" | relURL }}">ஆசிரியர்கள்</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{{ "/volunteers" | relURL }}">தொண்டர்கள்</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-bold" href="{{ "/mission" | relURL }}">நோக்கம்</a>
          </li>

        </ul>

        {{ if not .IsHome }}
        <form class="d-flex">
          <button class="btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
        {{ end }}
        
       
      </div>
    </div>
  </nav>
</header>