<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    {{ block "head" . }}{{ partial "head" . }}{{end}}

    {{ if templates.Exists ( printf "partials/head-%s.html" .Type ) }}
    {{ $partialPath := printf "head-%s" .Type }}
    {{ partial $partialPath . }}
    {{ end }}
  </head>
  <body class="d-flex flex-column h-100">

    {{ block "header" . }}{{ partial "header" . }}{{end}}


    <!-- Begin page content -->
    <main class="flex-shrink-0">



      {{ block "main" . }}{{end}}


    </main>
    

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}
    

      <!-- /.container -->
  {{ block "scripts" . }}{{ partial "scripts" . }}{{end}}

  {{ if templates.Exists ( printf "partials/scripts-%s.html" .Type ) }}
  {{ $partialPath := printf "scripts-%s" .Type }}
  {{ partial $partialPath . }}
  {{ end }}
  </body>
</html>
