{{ define "main" }}
<div class="container px-3 min-vh-100">

  

<main class="pt-3">

    <div class="row row-cols-1 row-cols-md-6 gx-4">
        {{ range .Pages }}
        <div class="col mb-3">
          <a href="{{strings.TrimRight "/" .Permalink}}" class="text-decoration-none">
          <div class="card border-0" >
          <img src="{{strings.TrimRight "/" .Params.thumbnail}}" class="card-img-top p-2 volunteers-img" alt="..." style="height: 130px;">
          <div class="card-body">
          <h6 class=" text-truncate fw-bold text-center">{{ .Title }}</h6>
          <span>
           <h6 class="text-truncate text-center"><small >{{ .Params.location }}</small></h6>
        </span>  
        </div>
          </div></a>
        </div>
        
        {{ end }}
    </div>


</main>
</div>
{{ end }}
