
// Theme Related 
$theme-colors: (
    "primary": #346cb0,
    "secondary": #f6f7f9,
    "success": #00a28a,
    "info": #4EA2D1,
    "warning": #f7c46c,
    "danger": #b76ba3,
    "light": #F3F1ED,
    "dark": #E4DFD5,
);

$body-bg: #DFD3BB;

// Typography Related
$link-color: #311509;
$navbar-brand-font-size:            1.8rem;
$navbar-light-brand-color:                #0B0960;
$navbar-light-brand-hover-color:          #2E206B;

$navbar-light-color:                #410909;
$navbar-light-hover-color:          #A3032A;
$navbar-light-active-color:          #A3032A;
$border-color:                #A99D91;

$headings-color:              #2E2E2E;
$mark-bg:                     #fcf8e3;
$blockquote-footer-color:     #ff00ff;

$breadcrumb-divider:                quote(">");


// Card

$card-cap-bg: #F3F1ED;


