{{ define "main" }}


<div class="container h-100">
  <div class="row mt-5">
    <div class="col-md-12">
       
       <div class="text-center">
        <img src="{{ "images/image 24.svg" | relURL }}" alt="main img">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 text-center offset-md-2">
      <h1 class="fw-bold">{{- .Title -}}</h1>
      <p class="lead fs-6">{{ .Content }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 text-center offset-md-3">
      <div class="input-group  rounded-start">

         <input type="text" class="form-control form-control-sm" placeholder="தேடுக" aria-label="Text input with 2 dropdown buttons">
         <button class="btn  bg-info text-white search-btn" type="submit">
           <i class="fas fa-search"></i>
          </button>

        </ul>
      </div>
    </div>
  </div>


  <div class="row mt-3">

    {{ range (where .Site.Sections "Section" "books" ) }}
          {{ range first 8 .Pages  }}
          {{ if .Description }}
          <div class="row-cols-1 col-md-3 my-2">
            <h2 class="fw-bold text-truncate">
              <a href="{{strings.TrimRight "/" .Permalink}}" class="text-decoration-none">{{.Title}}</a></h2>
            {{- range $index, $element := .Params.authors }}
              {{ if gt $index 0 }} & {{ end }}
              <small>{{ . }}</small>
            {{ end }}
           
          </div>
          {{ end }}
          
        {{ end }} 
      {{ end }} 


  </div>




</div>



          

{{ end }}
