{{ define "main" }}

<article>

  {{if .NextInSection}}<a href="{{.NextInSection.Permalink}}">{{.NextInSection.Params.Title}}</a>{{end}}


  {{if .PrevInSection}}<a href="{{.PrevInSection.Permalink}}">{{.PrevInSection.Params.Title}}</a>{{end}}


  <header>
    <h1>{{ .Title }}</h1>
    <p>by {{ .Render "author-link" }}
  </header>
  {{ .Content }}
  <footer>
    <h2>About the {{ cond (eq (len .Params.authors) 1) "author" "authors" }}</h2>
    {{ .Render "author-figure" }}
  </footer>
</article>

{{ end }}
