// Import Custom Variables

@import "./base/typography";
@import "./themes/theme";
@import "./vendors/bootstrap";


body { 
  background: url(../images/BG.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main > .container {
  padding: 60px 15px 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 764px) {
  nav{
    background-color: #d9cdb5;
  }
}