// Import Custom Variables

@import "./base/typography";
@import "./themes/theme";
@import "./vendors/bootstrap";


body { 
  background: url(../images/BG.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand{
  padding-left: 20px;
}
.navbar-collapse{
  padding-right: 20px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
