// Import Custom Variables

@import "./base/typography";
@import "./themes/theme";
@import "./vendors/bootstrap";


body { 
  background: url(../images/BG.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand{
  padding-left: 20px;
}
.navbar-collapse{
  padding-right: 20px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.search-mbl{
  position: absolute;
  top:11px;
}
.ml-0{
  margin-left:-5px;
}
.search-nav{
    position: absolute;
    left: 72%;
    top: 12px;
}
.search-nav-box{
  width: 300px;
  position: absolute;
  left: 53%;
  top: 12px;
}

@media only screen and (max-width: 736px) {
  .writer-img,.volunteers-img{
    width:50%;
    margin:auto;
  }
  .book-layout{
    margin-left: 40px;
    margin-right: 40px;
  }
  .search-nav{
    display: none;
  }
}
