{{ define "main" }}
<div class="container px-3 min-vh-100">
<nav class="navbar">

    {{if eq .Title "Books"}}
    
    {{ else }}

    <ol class="breadcrumb">      
        {{if ne .Parent.Title "Books"}}  
        <li class="breadcrumb-item" aria-current="page">
            <a class="h4" href="{{strings.TrimRight "/" .Parent.Permalink}}">{{.Parent.Title}}</a>
        </li>     
        <li class="breadcrumb-item h5" aria-current="page">{{.Title}}</li>
        {{ else }}
        <h4>{{.Title}}</h4>
        {{end}}   
        
    </ol>
    {{end}}

    
    
   
  </nav>
  

<main class="pt-3">

    {{if eq .Title "Books"}}
    

    <div class="row row-cols-1 row-cols-md-6 gx-4 ">
        {{ range .Pages }}
        <div class="col mb-3">
          <a  class="text-decoration-none" href="{{strings.TrimRight "/" .Permalink}}">
            <div class="card bg-light border-0 h-100">
          <div class="card-body m-2 bg-dark" style="height:130px">
            <h6 class="text-truncate text-center">{{ .Title }}</h6>
            {{- range $index, $element := .Params.authors }}
            {{ if gt $index 0 }} & {{ end }}
            
                <p class="text-center">{{ . }}</p>
            {{ end }} 
            
           
          </div>
          <div class="card-footer border-0 bg-light">
            <ul class="list-group list-group-horizontal d-flex justify-content-evenly">
                <li class="list-group-item bg-transparent border-0"><a href="#" ><i class="fas fa-share-alt"></i></a></li>
                <li class="list-group-item bg-transparent border-0"><a href="https://www.projectmadurai.org/pm_etexts/pdf/pm0001.pdf" ><i class="fas fa-download"></i></a></li>
            </ul>
          </div>
          </div></a>
        </div>
        
        {{ end }}
    </div>

    {{ else }}
    
    <ul>
    {{ range .Pages }}
        <li>
            <a href="{{strings.TrimRight "/" .Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>
    {{ end }}

    {{- .Content -}} 

</main>
</div>
{{ end }}
