{{ define "main" }}
<div class="container px-3 min-vh-100">
<nav class="navbar">

    <ol class="breadcrumb">
        {{if ne .Parent.Title "Books"}}
        <li class="breadcrumb-item" aria-current="page">
            <a class="h4" href="{{strings.TrimRight "/" .Parent.Permalink}}">{{.Parent.Title}}</a>
        </li>
        {{end}}
        <li class="breadcrumb-item h5" aria-current="page">{{.Title}}</li>
    </ol>
    
   
  </nav>
  

<main class="pt-3">
    <ul>
    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
        <li>
            <a href="{{strings.TrimRight "/" .Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>

    {{- .Content -}} </main>
</div>
{{ end }}