{{ define "main" }}
<div class="container px-3 min-vh-100">
<nav class="navbar">

    {{if eq .Title "Books"}}
    
    {{ else }}

    <ol class="breadcrumb">      
        {{if ne .Parent.Title "Books"}}  
        <li class="breadcrumb-item" aria-current="page">
            <a class="h4" href="{{strings.TrimRight "/" .Parent.Permalink}}">{{.Parent.Title}}</a>
        </li>     
        <li class="breadcrumb-item h5" aria-current="page">{{.Title}}</li>
        {{ else }}
        <h4>{{.Title}}</h4>
        {{end}}   
        
    </ol>
    {{end}}

    
    
   
  </nav>
  

<main class="pt-3">

    {{if eq .Title "Books"}}
    

    <div class="row row-cols-1 row-cols-md-6 gx-4">
        {{ range .Pages }}
        <div class="col">
          <a href="{{strings.TrimRight "/" .Permalink}}"><div class="card border-0" >
          <img src="{{strings.TrimRight "/" .Params.thumbnail}}" class="card-img-top img-thumbnail" alt="...">
          <div class="card-body">
          <h6 class=" text-truncate">{{ .Title }}</h6>
          {{- range $index, $element := .Params.authors }}
          {{ if gt $index 0 }} & {{ end }}
          <span class="text-truncate">
              <small >{{ . }}</small>
          </span>
          {{ end }}
          </div>
          </div></a>
        </div>
        
        {{ end }}
    </div>

    {{ else }}
    
    <ul>
    {{ range .Pages }}
        <li>
            <a href="{{strings.TrimRight "/" .Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>
    {{ end }}

    {{- .Content -}} 

</main>
</div>
{{ end }}