{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}
<div class="container px-3 pt-3 min-vh-100">
  {{if ne .Parent.Title "Books"}} 
  <ol class="breadcrumb">      
    <li class="breadcrumb-item" aria-current="page">
        <a class="h4" href="{{strings.TrimRight "/" .Parent.Permalink}}">{{.Parent.Title}}</a>
    </li>     
    <li class="breadcrumb-item h5" aria-current="page">{{.Title}}</li>
  </ol>
  {{ else }}
  <h2>{{.Title}}</h2>
  {{end}} 

<div class="card">
  {{ if ne .Parent.Title "Books"}}
  <div class="card-header">
    <div class="row w-100">
      <div class="col-6">
        {{if .NextInSection}}<a href="{{strings.TrimRight "/" .NextInSection.Permalink}}">{{.NextInSection.Title}}</a>{{end}}
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        {{if .PrevInSection}}<a href="{{strings.TrimRight "/" .PrevInSection.Permalink}}">{{.PrevInSection.Title}}</a>{{end}}
      </div>
    </div>
  </div>
  {{end}}
  <div class="card-body px-4 border border-5 border-light">
    {{- .Content -}}
  </div>
  
</div>
</div>
{{ end }}